*{
    margin: 0;
    padding: 0;
  }
  
  html{
    background-color:gray;
  }
  body{
    color: white;
    display: flex;
    justify-content: center;
  }
  main{
    width: 800px;
    height: 500px;
  }