.buttons-container{
  display: flex;
  justify-content:center;
}
.custom-operation{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}
.base-operation{
 display: grid;
 grid-template-rows: auto auto auto auto auto;
 grid-template-columns: auto auto auto auto;
}
.button{
  width: 100px;
  height: 100px;
  background-color: darkgray;
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operation-last{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
}
.big{
  width: 200px;
}
.orange{
  background-color: orange;
}
.numbers{
  background-color: lightgray;
}
.pow{
  font-size: 18px;
  margin-bottom: 25px;
}
.sqrt{
  font-size: 18px;
  margin-bottom: 25px;
  margin-right: -7.5px;
}
.log {
  font-size: 18px;
  margin-top: 20px;
}